<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password generator</h1>

      <div class="field">
        <label>Enter length</label>
        <input class="input" (input)="onChangeLength($event)" [value]="passwordLength" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseLetters()" checked="useLetters" />
            Use letters
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseNumbers()" checked="useNumbers" />
            Use numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseSymbols()" checked="useSymbols" />
            Use symbols
          </label>
        </div>
      </div>


        <button [disabled]="buttonIsDisabled()" (click)="onClickButton()" class="button is-link is-fullwidth">
          Generate
        </button>


      <div class="box" *ngIf="password">
        <label>Your password</label>
        <input class="input" [value]="password" />
      </div>

    </div>
  </div>
</div>


